*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:white;
    height: 600px;
}

.head{
    display: flex;
    width: 100vw;
    padding: 0.7rem;
    /* position: relative; */
    /* position: absolute; */
    /* background-color: antiquewhite; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.colab{
    width: 200px;
    height: 45px;
    cursor: pointer;
}


.tab{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}
.tab p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2rem;
    color: grey;
    cursor: pointer;
    /* font-weight: bold; */
}

.button{
    position: absolute;
    right: 30px;
    top: 20px;
}
.button > button{
    margin-left: 20px;
    height: 2rem;
    padding: 5px;
    border: 2px solid grey;
    color: rgb(247, 157, 93);
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}
.bimg{
    background-image: url('./data-center.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.inbox{
    background-color: white;
    position: absolute;
    top: 6rem;
    width: 60%;
    padding: 30px;
    box-shadow: 0 0 50px rgb(251, 229, 200);
    /* font-weight: bold; */
    border-radius: 10px;
    margin-bottom: 5px;
}

.inbox h1{
    /* font-weight: bold; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(67, 66, 66);
    /* font-size:xx-large; */
}
.inbox p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: x-large;
margin-top: 15px;
line-height: 40px;
color: grey;
}

.box_button button{
    margin-top: 2rem;
    height: 2rem;
    padding: 5px;
    border: 2px solid grey;
    color: rgb(247, 157, 93);
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.img_first img{
    width: 47vw;
}
.img_sec img{
    margin-top: 25px;
    width: 47vw;
}
.img1,.img2{
    position: relative;
    display: flex;
    justify-content: center;
}

.img_first,.img_sec{
    /* height: 700px; */
    display: flex;
    /* background-image: url(./blog.jpg),url(./notebooks.jpg);  */
     /* background-image: url('./notebooks.jpg'); */
     /* background-position: left,right; */
    justify-content:space-evenly;
}

.info{
    margin-top: 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info p,h2,button{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 7px;
    text-align: center;
}
.info h2{
    font-size: xx-large;
}
.info button{
    height: 2rem;
    padding: 5px;
    border: 2px solid grey;
    color: rgb(247, 157, 93);
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.foot{
    margin-top: 25px;
}
.foot1{
    /* position: relative; */
    display: flex;
    height: 200px;
    background-color: rgb(211, 214, 218);
    align-items: center;
    justify-content: center;
}
.group{
    display: flex;
    justify-content: space-evenly;
}
.resposibility{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 30%;
    box-shadow: 10px 5px 10px rgb(163, 162, 162);
}
.resposibility h3,p{
    margin: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.resposibility h3{
    color: grey;
    text-transform: uppercase;
}
.resposibility p{
    font-size: xx-large;
}

.learn_more{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.learn_more button{
    margin-left: 20px;
    height: 2rem;
    padding: 5px;
    border: 2px solid grey;
    color: rgb(247, 157, 93);
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.foot2{
    display: flex;
    justify-content: space-between;
}
.google{
    display: flex;
}
.google>p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    cursor: pointer;
}
.privacy{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.feedback p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
button{
    border-radius: 4px;
}
button:hover{
    background-color:rgb(247, 157, 93) ;
    color: white;
    border-radius: 12px;
}
@media (max-width:1080px){
    .inbox{
        width: 80%;
    }
    .button{
        display: none;
    }
}

@media (max-width: 765px){
    .inbox{
        width: 90%;
    }
    .inbox h1{
        font-size: x-large;
    }
    .inbox p{
        font-size:medium;
        line-height: 20px;
    }
    .tab p{
        display: none;
    }
    header{
        height: 500px;
    }
    .img_first{
        flex-direction: column;
    }
    .img_first img{
        width: 100%;
        margin-bottom:10px ;
    }
    .img_sec{
        flex-direction: column;
    }
    .img_sec img{
        width: 100%;
        margin: 0;
        margin-bottom:10px ;
    }
    .foot1{
        height: 300px;
    }
    .group{
        flex-direction: column;
        align-items: center;
    }
    .resposibility p,h3{
        font-size: medium;
    }
    
    /* .learn_more button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
}

/* @media (max-width: 670px){
    .header{
        height: 800px;
    }
} */